/*font-family: 'Poor Story', cursive;
font-family: 'Advent Pro', sans-serif;
*/


.waves-effect{
    background-color:#7450fe;
}

nav{
    background: linear-gradient(to right, #400096 0%, #000099 100%); 
    /*#2E0094;*/
}

body {
  background: url('background.png');
font-family: 'Advent Pro', sans-serif;
}

p{

}

.profile-card{
font-family: 'Advent Pro', sans-serif;
}
