/*font-family: 'Poor Story', cursive;
font-family: 'Advent Pro', sans-serif;
*/


.waves-effect{
    background-color:#7450fe;
}

nav{
    background: linear-gradient(to right, #400096 0%, #000099 100%); 
    /*#2E0094;*/
}

body {
  background: url('background.png');
font-family: 'Advent Pro', sans-serif;
}

h3{

}

p{
  font-size: 20px;
}

.profile-card{
font-family: 'Advent Pro', sans-serif;
}

.activity_picked{
  font-weight: 600;
  font-family: 'Archivo Narrow', sans-serif;
  color:rgb(62, 121, 253);
      border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0 4px 6px -6px #222;
}

.activity_picked p{
    font-size: 30px;

}