{% extends "base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
  <h2>{{ group.name }}</h2>
  <p>{{ group.description }}</p>
      {% if person_in_group %}
      <h2>People in this group</h2>
      {% for person in users%}
      <p>{{person.username}}
        {%endfor%}
      <h4>Your Next Activity:</h4>
          {% for a in activities %}
      {%if a.is_chosen%}
      <p>{{ a.title }}</p>
      {% endif %}
      {% endfor %}
      <hr>

      <a href="/groups/{{group.id}}/activities/set"><button class="waves-effect waves-light btn pulse new-activity-button" onclick="M.toast({html: '...Randomizing...', displayLength:60000})">Set A New Activity</button></a>
      <h4>What Your Group Does:</h4>
    {% for a in activities %}
    <ul class="collection">
      <li class="collection-item" style="font-weight:600; font-size:30px">{{ a.title }}</li>
      <li class="collection-item">{{ a.description }}</li>
    </ul>
      {% endfor %}
        <form action="/groups/{{group.id}}/activities/create" method="post">
          {% csrf_token %}
          {{ form.as_table }}
          <button class="waves-effect waves-light btn" type="submit">Add New Activity</button>
        </form>
      {% else %}
      <a href="/groups/{{group.id}}/join"><button class="waves-effect waves-light btn pulse" style="display:block">JOIN THIS GROUP!</button></a>
      {% endif %}
{% endblock %}
