<!DOCTYPE html>
<html>
  <head>
    <title>What's Our Plan</title>
    {% load staticfiles %}
    <link
      href="https://fonts.googleapis.com/css?family=Advent+Pro|Archivo+Narrow|Poor+Story"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'title.css' %}" />
  </head>
  <body>
    <div class="container center-align">
      <h1>WOP</h1>
      <div class="valign-wrapper">
        <h2>What's Our Plan?</h2>
        <h4>
          <span style="color:white">Making spontaneous meetups more fun</span>
        </h4>
      </div>

      <a href="/signup"
        ><button class="waves-effect waves-light btn-large">SIGN UP</button></a
      >
      <a href="/login"
        ><button class="waves-effect waves-light btn-large">LOG IN</button></a
      >
    </div>
  </body>
</html>
